**/.vertx
**/target
**/*.iml
**/.idea
**/.classpath
**/.project
**/.settings/**
**/.DS_Store
**/*.log
example/db/**
**/src/main/resources/bower_components
**/src/main/resources/bower_components/**



