<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/app.css">
    <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet'  type='text/css'>

    <script src="/components/jquery/dist/jquery.min.js"></script>
    <script src="/components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/components/angular/angular.min.js"></script>
    <script src="/js/todo.js"></script>
    <title>Tasks</title>
  </head>

  <body>
   <div ng-app="todoApp" ng-controller="todoController" class="row">
      <div class="col-lg-4">
        <h2 class="left-tasks">You've got <span class="emphasis">{{getTotalTasks()}}</span> Tasks to do</h2>
        <form>
          <div class="input-group">
            <input ng-model="description"
                   size="30"
                   placeholder="What needs to be done?"
                   class="form-control input-new-item">
            <span class="input-group-btn">
              <button ng-click="add()" class="btn btn-default add-btn">Add</button>
            </span>
          </div>
        </form>
        <br>
        <div ng-repeat="(id, task) in model.tasks" class="input-group">
          <span class="form-control list-item"  ng-style="task.done && { 'text-decoration': 'line-through' }">{{task.description}}</span>
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-ok-circle" aria-hidden="true" ng-click="toggleDone(task)"></span>
            <span class="glyphicon glyphicon-ban-circle" aria-hidden="true" ng-click="removeTask(task)"></span>
          </span>
        </div>
      </div>
    </div>
  </body>
</html>