<!DOCTYPE html>
<html lang="en">
<head>
  <title>A template</title>
  <link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.min.css">
  <!--<link rel="stylesheet" href="http://bootswatch.com/paper/bootstrap.min.css"/>-->
</head>
<body>
<div class="jumbotron">
  <div class="container">
    <h1>Templating</h1>

    <p>... with Handlebars</p>
    <a class="btn btn-success" href="/" role="button">Go Back</a>
  </div>
</div>

<h4>Server Details</h4>

<h5><kbd>Time:</kbd> {{HostTime}}</h5>

<h5><kbd>Hostname:</kbd> {{Hostname}}</h5>

<script src="/components/jquery/dist/jquery.min.js"></script>
<script src="/components/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>