<!DOCTYPE html>
<html lang="en">
<head>
    <title>A template</title>
    <link rel="stylesheet" href="components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://bootswatch.com/paper/bootstrap.min.css"/>
</head>
<body><body>
<a class="btn btn-primary" href="/" role="button">Go Back</a>
<h3>Hostname <span class="label label-default">{{dodgyhostname}}</span></h3>
<script src="components/jquery/dist/jquery.min.js"></script>
<script src="components/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>